ul {
  list-style: none;
}
#gallery {
  display: flex;
}
.item-gallery:not(:last-child) {
  margin-right: 20px;
}

/*  ==========  task-04 ================*/

#counter {
  font-size: 20px;
  margin: 50px;
}

.btn {
  font-size: 20px;
  padding: 10px;
  background-color: aqua;
  border: 1px dashed black;
  border-radius: 50%;
  margin: 20px;
}
/*  ==========  task-06 ================*/
#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
